/*
 * ----------------------------------------------------------------------------
 *  Nextflow config file for use with CLIP
 * ----------------------------------------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

process {
  executor = 'slurm'
  // clusterOptions = { "-P $params.project " }
}

executor {
  $slurm {
    name = 'cbe'
    queueSize = 1600
  }
}

params {
  max_memory = 180.GB
  max_cpus = 12
  max_time = 24.h
  aligner = 'methylpy'
}


process {
  cpus = 1
  memory = 10.GB
  time = 6.h

  errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'terminate' }
  maxRetries = 3
  maxErrors = '-1'

  module = ['anaconda3/2019.03']
  conda '~/.conda/envs/methylpy'

  withLabel: env_quality {
    cpus = 2
    memory = 20.GB
    time = 16.h
  }

  withLabel: env_picard_small {
    cpus = 1
    memory = 10.GB
    time = 10.h
  }

  withLabel: env_picard {
    cpus = 4
    memory = 48.GB
    time = 10.h
  }

  withLabel: env_methylpy {
    cpus = 4
    memory = 48.GB
    time = 16.h
  }

  withLabel: env_pybshap {
    conda '~/.conda/envs/pybshap'
  }

  withLabel: env_snpcall {
    module = ['gatk/3.8-1-java-1.8']
    cpus = 4
    memory = 48.GB
    time = 10.h
  }
}
