/*
 * ----------------------------------------------------------------------------
 *  Nextflow config file for use with CLIP
 * ----------------------------------------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

process {
  executor = 'slurm'
  // clusterOptions = { "-P $params.project " }
}

executor {
  $slurm {
    name = 'cbe'
    queueSize = 1600
  }
}

params {
  max_memory = 180.GB
  max_cpus = 12
  max_time = 24.h
  aligner = 'methylpy'
  tmpdir = "$SCRATCHDIR/tempFiles"
}


process {
  cpus = 1
  memory = 10.GB
  time = 6.h
  //clusterOptions = '--q short '

  errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'terminate' }
  maxRetries = 3
  maxErrors = '-1'

  // module = ['anaconda3/2019.03']
  conda = '/users/rahul.pisupati/.conda/envs/methylpy'
  // container = 'docker.artifactory.imp.ac.at/nordborglab/methylpy:master'

  withLabel: env_quality {
    cpus = 2
    memory = 20.GB
    time = 6.h
  }

  withLabel: env_picard_small {
    cpus = 1
    memory = 10.GB
    time = 4.h
  }

  withLabel: env_picard {
    cpus = 2
    memory = 24.GB
    time = 6.h
  }

  withLabel: env_methylpy {
    cpus = 8
    memory = 80.GB
    time = 8.h
  }

  withLabel: env_pybshap {
    cpus = 2
    memory = 20.GB
    time = 2.h
    // container = 'docker.artifactory.imp.ac.at/nordborglab/snpcall:master'
    conda = '/users/rahul.pisupati/.conda/envs/pybshap'
  }

  withLabel: env_snpcall {
    module = ['gatk/3.8-1-java-1.8']
    cpus = 4
    memory = 48.GB
    time = 8.h
    // container = 'docker.artifactory.imp.ac.at/nordborglab/snpcall:master'
  }

  withLabel: env_snpcall_small {
    cpus = 2
    memory = 20.GB
    time = 8.h
    container = 'docker.artifactory.imp.ac.at/nordborglab/snpcall:master'
  }
}
