/*
 * ----------------------------------------------------------------------------
 *  Nextflow config file for use with Singularity on Mendel cluster in GMI, Vienna
 * ----------------------------------------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

process {
  executor = 'pbs'
  clusterOptions = { "-P $params.project " }
}

executor {
  $pbs {
    name = 'pbs'
    queueSize = 1000
  }
}

params {
  max_memory = 250.GB
  max_cpus = 24
  max_time = 2.d
  aligner = "methylpy"
  scratch = "/lustre/scratch/users/rahul.pisupati/tempFiles/"
  tmpdir = "/lustre/scratch/users/rahul.pisupati/tempFiles/"
}

process {

  cpus = 1
  memory = 10.GB
  time = 6.h

  errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'terminate' }
  maxRetries = 3
  maxErrors = '-1'

  module = ['methylpy/1.1.9-foss-2017a-Python-2.7.13']

  withLabel: env_quality {
    module = ['FastQC/0.11.5-foss-2016a', 'Trim_Galore/0.4.1-foss-2016a']
    cpus = 2
    memory = 20.GB
    time = 16.h
  }

  withLabel: env_picard_small {
    module = ['SAMtools/1.6-foss-2017a', 'picard/2.3.0', 'sratoolkit/2.8.1-3']
  }

  withLabel: env_picard {
    module = ['SAMtools/1.6-foss-2017a', 'picard/2.3.0', 'sratoolkit/2.8.1-3']
    cpus = 4
    memory = 48.GB
    time = 10.h
  }

  withLabel: env_methylpy {
    cpus = 4
    memory = 48.GB
    time = 16.h
  }

  withLabel: env_pybshap {
    module = ['pyBsHap/1.1.0-foss-2017a-Python-2.7.13']
  }

  withLabel: env_snpcall {
    module = ['GATK/3.7-Java-1.8.0_112', 'SAMtools/1.6-foss-2017a']
    cpus = 4
    memory = 48.GB
    time = 10.h
  }

  withLabel: env_bcftools {
    module = ['BCFtools/1.3-foss-2015b']
  }


}
