/*
 * ----------------------------------------------------------------------------
 *  Nextflow config file for use with Singularity on Mendel cluster in GMI, Vienna
 * ----------------------------------------------------------------------------
 * Defines basic usage limits and singularity image id.
 */

process {
  executor = 'pbs'
  clusterOptions = { "-P $params.project " }
}

executor {
  $pbs {
    name = 'pbs'
    queueSize = 1000
  }
}

params {
  max_memory = 250.GB
  max_cpus = 24
  max_time = 2.d
}
